/data/*/
/results/
*.vdif
/utils/__pycache__
*.png
test_output.py
plot_subbands.py
*.conf
*.ib
*.ir
pyrightconfig.json
corr_files
__pycache__
.pyre
*.del
*cor*
E011
I002
.ipynb_checkpoints
vextractor.new.py
aartfaac_fit.py
clock.json
E011.vix
E011.clk.vix
E011.vex
E011.vixtmp
aartfaac_plot_animation.py
clocks.json
usno_finals.erp
